#EditTodoItemDate {
  padding: 0.5em;
}

#renderTodoItemDate {
  padding: 0.5em;
}

/* #completedTask {
  padding: 1em;
  border: solid;
  border-color: orange;
} */

#selectedDateID {
  border: solid;
  border-color: brown;
  padding: 0.5em;
}